*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.nav{
    background-color: black;
    display: flex;
    height: 60px;
}
h1{
    color: aliceblue;
    margin-top: -10px;
    /* margin-left: -40px; */
}
ul{
    list-style-type: none;
    gap: 40px;
    padding-left: 120px;
    padding-top: 24px;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
}
.btn{
    width: 60px;
    height: 20px;
    border: none;
    background-color: gold;
    border-radius: 30px;
    /* text-align: center; */
    padding-left: 12px;
    padding-top: 2px;
    display: flex;
    margin-left: 60px;
    gap: 25px;
    margin-top: 22px;
}
.btn1{
    width: 70px;
    height: 20px;
    border: none;
    background-color: gold;
    border-radius: 30px;
    /* text-align: center; */
    padding-left: 12px;
    padding-top: 2px;
    display: flex;
    gap: 10px;
    margin-top: 22px;
}
#btns :hover{
    color: white;
    border: 1px solid gold;
    background-color: transparent;
}
.home{
    background-color: black;
    height: 400px;
    padding-left: 100px;
    padding-top: 50px;
}
.para{
    color: white;
    padding-top: 10px;
    line-height: 25px;
}
.see{
    width: 100px;
    height: 40px;
    border: none;
    background-color: gold;
    border-radius: 30px;
    /* text-align: center; */
    padding-left: 12px;
    padding-top: 12px;
    display: flex;
    /* margin-top: 22px; */
}
#see :hover{
    color: white;
    border: 1px solid gold;
    background-color: transparent;
}
.vid1{
    margin-left: 500px;margin-top: -400px;
    width: 550px;
    height: 620px;
}
.decor{
    background-color: black;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
.sony{
    padding-left: 520px;
    margin-top: -300px;
    font-size: xx-large;
}
.para1{
    padding-left: 520px;
    line-height: 20px;
}
.seee{
    width: 100px;
    height: 40px;
    border: none;
    background-color: gold;
    border-radius: 30px;
    /* text-align: center; */
    padding-left: 12px;
    padding-top: 12px;
    display: flex;
    margin-left: 520px;
    /* margin-top: 22px; */
}
#seee :hover{
    color: black;
    border: 1px solid gold;
    background-color: transparent;
}
.all{
    display: grid;
    padding-left: 150px;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
}
.hed1{
    padding-top: 30px;
}
.d1{
    margin-top: 30px;
    /* margin-left: 120px; */
    width: 220px;
    height: 300px;
    border: 2px solid gold;
    padding-left: 20px;
    border-radius: 20px;
}
.btn2{
    width: 80px;
    height: 25px;
    border: none;
    background-color: gold;
    border-radius: 30px;
    /* text-align: center; */
    padding-left: 12px;
    padding-top: 5px;
    display: flex;
    margin-left: -10px;
    margin-top: 20px;
    /* margin-top: 22px; */
}
.btn3{
    width: 100px;
    height: 25px;
    border: none;
    background-color: gold;
    border-radius: 30px;
    /* text-align: center; */
    padding-left: 12px;
    padding-top: 5px;
    display: flex;
    margin-left: 80px;
    margin-top: -25px;
    /* margin-top: 22px; */
}
.vid2{
    margin-left: 100px;margin-top: -60px;
}
.re{
    display: grid;margin-left: 250px;gap: 30px;
    grid-template-columns: auto auto auto auto;
}
#menu{
    display: none;
}


@media only screen and (max-width: 1030px) {
    ul{
     
        gap: 20px;
        padding-left: 100px;
    }
    .nav{
        background-color: black;
        display: flex;
        height: 60px;
        width: 1200px;
    }
    .home{
        background-color: black;
        height: 400px;
        padding-left: 100px;
        padding-top: 50px;
        width: 1200px;
    }
    .vid1{
        width: 550px;
        height: 600px;
    }
    .decor{
        width: 1200px;
    }
    .re{
        grid-template-columns: 300px 300px 300px;
        margin-left: 15px;
        gap: px;

    }
  }
  @media only screen and (max-width: 850px) {
    ul{
        font-size: small;
        gap: 0px;
        margin-left: -120px;
    }
    .btn{
        margin-left: 30px;
    }
    .btn1{
        margin-left: -18px;
    }
    .nav{
   
        width: 700px;
    }
    .home{
        height: 700px;
        width: 700px;
    }
    .decor{
        width: 700px;
    } 
    .vid1{
        margin-top: -90px;
        margin-left: -20px;
    }
    .vid2{
        margin-left: 140px;
    }
    .par{
        margin-top: 220px;
        margin-left: -500px;
        font-size: small;
}
    .all{
        grid-template-columns: 300px 300px;
        padding-left: 50px;
        gap: 5px;
        
        
    }
    .decor{
        margin-left: -30px;
    }
    .re{
        grid-template-columns: 300px 300px;
        margin-left: 15px;
        gap: px;

    }
    .us{
        margin-left: -150px;
    }
    .lg{
        display: none;
    }
    #menu{
        display: block;
        margin-left: 50px;
        margin-top: -8px;
    }
    .logo{
        padding-left: 240px;
    }
  }
  @media only screen and (max-width: 450px) {
   
    .btn{
        margin-left: 50px;
    }
    .vid1{
        margin-top: -90px;
        margin-left: -70px;
    }
    .vid2{
        margin-left: 140px;
    }
    .par{
        margin-top: 220px;
        margin-left: -500px;
        font-size: small;
}
    .decor{
        width: 650px;
    }
    .home{
        width: 620px;
    }
    .nav{
        width: 620px;
    }

    .us{
        margin-left: 160px;
    }
    .logo{
        margin-left: -200px;
    }


 
  }
  @media only screen and (max-width: 350px) {
   
    .btn{
        display: none;
    }
    .btn1{
        display: none;
    }

    .vid1{
        width: 400px;
        margin-top: -90px;
        margin-left: -70px;
    }
    .vid2{
        margin-left: 140px;
    }
    .par{
        margin-top: 220px;
        margin-left: -500px;
        font-size: small;
}
    .decor{
        width: 650px;
    }
    .home{
        width: 620px;
    }
    .cont{
        margin-left: -40px;

    }
    .cont p{
        font-size: medium;
    }
    .nav{
        width: 620px;
    }

    .us{
        margin-left: 160px;
    }
    .logo{
        margin-left: -200px;
    }


 
  }